<div class="form-group">
  	{{#if text}}
		<label for="i2" class="col-sm-4 control-label">{{label}}</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="i2">
		</div>
	{{/if}}
	{{#if password}}
		<label for="i2" class="col-sm-4 control-label">{{label}}</label>
		<div class="col-sm-8">
			<input type="password" class="form-control" id="i2">
		</div>
	{{/if}}
	{{#if checkbox}}
		<div class="col-sm-offset-4 col-sm-8">
			<div class="checkbox">
				<label for="i2">
					<input type="checkbox"> {{label}}
				</label>
			</div>
		</div>
	{{/if}}
	{{#if select}}
		<label for="i2" class="col-sm-4 control-label">{{label}}</label>
		<div class="col-sm-8">
			<select id="i2" class="form-control">
			{{#options}}
			 	<option>{{.}}</option>
			{{/options}}
			</select>
		</div>
	{{/if}}
</div>