{{#sections}}
	<a href="#{{b_id}}-{{id}}" id="b-{{b_id}}-{{id}}-trigger" rel="section">
		<span class="l">{{label}}</span> <span>{{content}}</span>
	</a>
	<div class="b-section" id="b-{{b_id}}-{{id}}">
		
		<div class="">
			{{> input}}
				<label for="i1">Destination</label>
				<select id="i2">
				  <option>S3 Compatible</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>
			<div class="">
				<label for="i2">Server Name</label>
				<input type="text" id="i2">
			</div>
			<div class="">
				<label for="i3">AWS Access ID</label>
				<input type="text" id="i3">
			</div>
			<div class="">
				<label for="i4">AWS Secret Key</label>
				<input type="password" id="i4">
			</div>
			<div class="">
				<label for="i5">Bucket Name</label>
				<input type="text" id="i5">
			</div>
			<div class="">
				<label for="i6">Bucket Region</label>
				<select id="i2">
				  <option>US-1</option>
				  <option>US-2</option>
				  <option>EU</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>
			<div class="">
				<label for="i2">Use RRS</label>
				<input type="checkbox">
			</div>


	</div> <!-- .b-section -->
{{/sections}}