{{#sections}}

	<a href="#{{../b_id}}-{{id}}" id="b-{{../b_id}}-{{id}}-trigger" rel="section" class="row">
		<div class="col-sm-4">
			<span class="l">{{label}}</span>
		</div>
		<div class="col-sm-8">
			{{content}}
		</div>
	</a> <!-- .row -->
	<div class="b-section" id="b-{{../b_id}}-{{id}}">
		<div class="form-horizontal">
		{{#section}}
			{{>form}}
		{{/section}}
		</div>
	</div> <!-- .b-section -->
{{/sections}}