{{#backups}}
	<div class="row">

	 	<!-- // Backup title -->
		<div class="col-sm-offset-1 col-sm-5 b-title" id="b-t-{{Backup.ID}}">
			<div class="valign right">
				<span class="title">
					{{Backup.Name}}
				</span>
				<span class="status">
					{{Backup.Status}}
				</span>
				<span>
					<a href="#{{Backup.ID}}" rel="run"><i class="fa fa-play"></i></a>
					<a href="#{{Backup.ID}}" rel="pause" class="hide"><i class="fa fa-pause"></i></a>
					<a href="#{{Backup.ID}}" rel="edit"><i class="fa fa-pencil"></i></a>
					<a href="#{{Backup.ID}}" rel="actions"><i class="fa fa-cog"></i></a>
				</span>
			</div> <!-- .valign -->
		</div>

		<!-- // Backup status -->
		<div class="col-sm-5 b-status" id="b-s-{{Backup.ID}}">
			<div class="row valign">
				<div class="col-xs-4 l">Last backup</div>
				<div class="col-xs-8">23 hours, 15 minutes ago</div>
				<div class="col-xs-4 l">Changes</div>
				<div class="col-xs-8">2 files, 15 MB</div>
				<div class="col-xs-4 l">Total</div>
				<div class="col-xs-8">271 files, 365 MB</div>
			</div>
		</div>

		<!-- // Backup edit -->
		<div class="col-sm-5 b-edit" id="b-e-{{Backup.ID}}">
		</div>

		<!-- // Backup operations -->
		<div class="col-sm-5 b-actions" id="b-a-{{Backup.ID}}">			
				<a href="#" class="row">
					<div class="col-sm-4 l">Backup</div>
					<div class="col-sm-8">Run now</div>
				</a>
				<a href="#" class="row">
					<div class="col-sm-offset-4 col-sm-8">Restore files</div>
				</a>
				<a href="#" class="row">
					<div class="col-sm-offset-4 col-sm-8">Export</div>
				</a>
				<a href="#" class="row">
					<div class="col-sm-offset-4 col-sm-8 warn">Delete</div>
				</a>	
				<a href="#" class="row">
					<div class="col-sm-4 l">Advanced</div>
					<div class="col-sm-8">Verify backup files</div>
				</a>
				<a href="#" class="row">
					<div class="col-sm-offset-4 col-sm-8">Repair local database</div>
				</a>
				<a href="#" class="row">
					<div class="col-sm-offset-4 col-sm-8 warn">Delete local database</div>
				</a>
				<a href="#" class="row">
					<div class="col-sm-4 l">Reporting</div>
					<div class="col-sm-8">Show log</div>
				</a>
				<a href="#" class="row">
					<div class="col-sm-offset-4 col-sm-8">Create bug report</div>
				</a>
		</div>


	</div> <!-- .row -->
{{/backups}}